
table {
  text-align: center;
  width: 500px;
  border: 2px solid black;
}
thead,
body {
  align-items: center;
}
td,
th {
  padding: 10px;
  align-content: space-between;
  width: 60px;
}
.btn {
  border: none;
  background-color: #0091ea;
  border-radius: 5px;
  right: 5%;
  padding: 5px;
  color: #fff;
  transition-duration: 0.25s;
  bottom: 10%;
}
.title {
  font-weight: bold;
}
.title {
  font-size: x-large;
  padding: 10px;
}
