.box {
    left: 35%;
    right: 20%;
    position: relative;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    box-shadow: 0px 1px 4px grey;
    border-radius: 10px;
    background-color: #fff;
    padding: 25px 20px;
    overflow: hidden;
  }
  table{
    text-align: center;
      width: 500px;
      border: 2px solid black;
      
  }
  thead,body{
      align-items: center;
  }
  td,th{
      padding: 10px;
      align-content: space-between;
      width: 60px;
      
  }
  .btn {
    border: none;
    background-color: #0091EA;
    border-radius: 5px;
    right: 5%;
     padding: 5px;
    color: #FFF;
    transition-duration: .25s;
    bottom: 10%;
  }
  .title{
      font-weight: bold;
  }
  .title{
    font-size: x-large;
    padding: 10px;
}